.image-container {
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
  & > div {

  }
  & :nth-child(1) {
    position: relative;
    width: 100%;
    height: auto;
  }
  & :nth-child(2) {
    position: absolute;
    top: 290px;
    // top: 190px;
    // left: 240px;
  }
  & span {
    // opacity: 0;
    position: absolute;
    font-size: 1.5em;
    font-family: "TTT-Light";
    padding: 0.5em 1em;
    background-color: #fff;
    border-radius: 5px;
    z-index: 20;
  }
  & span::before {
    content: "";
    position: absolute;
    bottom: -17px;
    left: 45%;
    border: 10px solid transparent;
    border-top-color: #fff;
  }
  & :nth-child(3) {
    // 2 div
    // width: 100%;
    // max-width: auto;
    position: absolute;
    top: 270px;
    // left: 257px;
  }
  & :nth-child(4) {
    position: absolute;
    top: 465px;
    // left: 356px;
  }
  & :nth-child(5) {
    position: absolute;
    width: 100%;
    top: 445px;
    // left: 290px;
  }
  & :nth-child(6) {
    position: absolute;
    top: 775px;
    // left: 390px;
  }
  & :nth-child(7) {
    position: absolute;
    width: 100%;
    top: 755px;
    // left: 344px;
  }
  & :nth-child(8) {
    position: absolute;
    top: 490px;
    // left: 540px;
  }
  & :nth-child(9) {
    position: absolute;
    width: 100%;
    top: 465px;
    // left: 468px;
  }
  & :nth-child(10) {
    position: absolute;
    top: 650px;
    // left: 607px;
  }
  & :nth-child(11) {
    position: absolute;
    width: 100%;
    top: 625px;
    // left: 500px;
  }
  & :nth-child(12) {
    position: absolute;
    top: 400px;
    // left: 680px;
  }
  & :nth-child(13) {
    position: absolute;
    width: 100%;
    top: 380px;
    // left: 527px;
  }
  & :nth-child(14) {
    position: absolute;
    top: 565px;
    // left: 850px;
  }
  & :nth-child(15) {
    position: absolute;
    width: 100%;
    top: 540px;
    // left: 789px;
  }
}

// @media screen and(max-width: 1200px) {
//   img {
//     width: 800px;
//   }
// }
// .aassdd {
//   position: absolute;
//   top: 0px;
//   left: 359px;
// }

// .active {
//   position: absolute;
//   // transform: translateX(49%);
//   animation: 1.5s img ease;
// }

.active--img1 {
  display: block;
  width: calc(100% - 25%) !important;
  position: relative;
  // height: 100vh;
  // transform: translateX(40%);
  transition: 1.5s ease;
  animation: 1.5s img--1 ease;
  overflow: hidden;
}

.active--img1 div img {
  height: 100vh !important;
}

// .back--img1{ // sikinti
//   // position: absolute;
//   // transform: translateX(105%);
//   animation: 1.5s back-img ease;
// }

.deactive {
  opacity: 0;
}

@keyframes back-img {
  from {
    transform: translateX(105%);
  }
  to {
    transform: translateX(30%);
  }
}

@keyframes img--1 {
  from {
    transform: translateX(30%);
  }
  to {
    transform: translateX(0%);
  }
}

// @keyframes img {
//   from {
//     transform: translateX(75%);
//   }
//   to {
//     transform: translateX(49%);
//   }
// }

.plus {
  margin-top: 25px;
  left: 42%;
  position: absolute !important;
  width: 38px !important;
  height: 38px !important;
  background: linear-gradient(#5a2ff0, #a18bf1);
  border-radius: 50%;
  animation: pulse 1.1s infinite;
}
.plus:before,
.plus:after {
  content: "";
  position: absolute;
  background: #fff;
}
.plus:before {
  left: 50%;
  top: 6px;
  bottom: 6px;
  width: 2px;
  transform: translateX(-50%);
}
.plus:after {
  top: 50%;
  left: 6px;
  right: 6px;
  height: 2px;
  transform: translateY(-50%);
}

.plus:hover {
  cursor: pointer;
  animation: turn 1s forwards;
}

// .plus:hover .zpan {
//   opacity: 1;
// }

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0px #c7b8fc;
    transform: scale(1);
  }
  85% {
    box-shadow: 0 0 0 12px #d5cbf8;
    transform: scale(1);
  }
  100% {
    box-shadow: 0 0 0 12px #e2dafd;
    transform: scale(1);
  }
}
@keyframes turn {
  to {
    transform: rotate(225deg);
  }
}
