<div class="title-container" data-v-548d542e="">  <a href="/experience/cdi" class="button button-experience-cirlce category-digital blue-light" data-v-23e65ca6="" data-v-548d542e="" style="transform: translate3d(0px, -6.289px, 0px);"><div class="circles" data-v-23e65ca6="" style="transform: translate3d(66.3899px, -22.2438px, 0px);"><div class="outline" data-v-23e65ca6="" style="opacity: 0; transform: scale(1.5, 1.5);"></div> <div class="hover-outline" data-v-23e65ca6="" style="transform: translate(0px, 0px);"></div> <div class="background" data-v-23e65ca6="" style="transform: translate(0px, 0px);"></div> <span class="label" data-v-23e65ca6="" style="transform: rotate(-10deg) translate(18.2897px, -6.12793px);">
    CDI
</span></div></a></div>
<style>
 font-size:   calc(18px + 172*(100vw - 320px)/1450)
</style>