.side--active {
  // display: block;
  display: flex;
  flex: 25%;
  height: 100vh;
  // position: absolute;
}
.sidemenu-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: #5a2ff0;
  animation: 2s menu ease;
  & > div {
    position: relative;
    width: 100%;
    color: rgb(194, 188, 188);
    font-size: 4em;
    font-family: "TTT-Regular";
    text-align: left;
    left: 1.5em;
    opacity: 0.8;
  }
  & > div:not(:nth-last-child(1)) {
    margin-bottom: 1em;
  }

  & > div > .icon {
    transform: translate(-15%, 10%);
  }
  & > div:hover {
    color: #fff;
    opacity: 1;
    transition: 0.4s ease-in;
  }
}

@keyframes menu {
  from {
    transform: translateX(-35%);
    opacity: 0.3;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

// @keyframes btn {
//   from {
//     transform: translateX(-25%, 10%);
//   }
// }

//Media Screens
@media screen and(max-width: 1200px) {
  // .sidemenu-container {
  //   width: 275px;
  // }
  .side--active {
    // position: absolute;
  }
}
// 900 den asagi burger menu gelecek
@media screen and(max-width: 900px) {
  .side--active {
    display: block;
    position: absolute;
    z-index: 200;
    height: auto;
  }
}

.container {
  position: absolute;
  top: 5em;
  left: 2.5em;
}
// .small-sidemenu {
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

.hamburger-menu {
  cursor: pointer;
  font-size: 5em;
}


////////////////////////

